QWEN_API_BASE=https://api.qwencloud.com/v1
QWEN_API_KEY=

DB_URL=postgres://user:pass@host:5432/talentcircuit
PORT=4000

.env

QWEN_API_KEY=
QWEN_PROJECT_ID=
QWEN_BASE_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1


